<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}
        <style>
        /* Styles personnalisés pour la barre de navigation */
        nav {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline-block;
            margin-right: 10px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

        nav ul li a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ path('app_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('app_product_new') }}">Ajouter un produit</a></li>
            <li><a href="{{ path('app_product_index') }}">Consulter tous les produits</a></li>
        </ul>
    </nav>

    {% block body %}{% endblock %}
</body>
</html>
